* {
  box-sizing: border-box;
}

:root {
  --Button-Color:#00A4E5;
  --Second-COlor:#00A4E5;
  --Font-Color:#48555B;
  --Second-Font-Color:#FFFFFF;
  --Font-Family: "Open Sans", sans-serif;
  --Second-Font-Family: "Bebas Neue", sans-serif;
  --Font-Weight: 400;
}

body {
  width: 100%;
  background-color: #FFFFFF;
}
body .start-container {
  height: 100vh;
  width: 100%;
  background-image: url(./img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 40px;
  padding-bottom: 70px;
}
body .start-container .background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-background {
  text-align: center;
  margin-top: 317px;
  margin-bottom: 221px;
}
.text-background .title {
  font-family: var(--Second-Font-Family);
  color: var(--Second-Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 3.75rem;
  letter-spacing: 0.36rem;
  margin-bottom: 5px;
}
.text-background .paragraph {
  font-family: var(--Font-Family);
  color: var(--Second-Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 1rem;
}

.background-end {
  font-family: var(--Font-Family);
  color: var(--Second-Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 0.69rem;
  letter-spacing: 0.3rem;
}

header {
  height: auto;
}
header .navigation {
  padding: 15px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.link-item {
  display: flex;
  align-items: center;
}
.link-item .link {
  margin-left: 40px;
  font-family: var(--Font-Family);
  font-weight: var(--Font-Weight);
  color: var(--Font-Color);
  font-size: 0.75rem;
  letter-spacing: 0.07rem;
}
.link-item .link:hover {
  color: var(--Second-COlor);
}

.story-container {
  padding: 0px 20%;
  margin-top: 57px;
  margin-bottom: 118px;
}
.story-container .title-story-container {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: 700;
  letter-spacing: 0.14rem;
  text-align: center;
}
.story-container .title-story-container::after {
  display: flex;
  flex-direction: column;
  content: "";
  margin-top: 10px;
  position: absolute;
  left: 48%;
  width: 4rem;
  height: 0.13rem;
  background-color: var(--Second-COlor);
}

.grid {
  display: grid;
  grid-template-columns: 40% 10% 20% 20% 20%;
  grid-template-rows: auto auto;
  align-items: flex-start;
  margin-top: 80px;
}
.grid .title-grid {
  grid-column: 1/2;
  grid-row: 1;
}
.grid .paragraph-grid {
  grid-column: 1/2;
  grid-row: 2;
}
.grid .img-plan, .grid .img-manage, .grid .img-build {
  height: 260px;
  display: flex;
  align-items: flex-start;
}

.img-plan {
  background: url(./img/plan.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  grid-column: 3/4;
  grid-row: 1/3;
}

.img-manage {
  background: url(./img/manage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  grid-column: 4/5;
  grid-row: 1/3;
}

.img-build {
  background: url(./img/deliver.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  grid-column: 5/6;
  grid-row: 1/3;
}

.title-grid {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}
.title-grid b {
  color: var(--Second-COlor);
}

.paragraph-grid {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 0.81rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;
}

.capabilities-container {
  padding: 0px 20%;
  margin-bottom: 115px;
}
.capabilities-container .title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-capabilities {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: 700;
  letter-spacing: 0.14rem;
  width: 199px;
  margin-right: 154px;
}
.title-capabilities::after {
  display: flex;
  flex-direction: column;
  content: "";
  margin-top: 10px;
  position: absolute;
  width: 4rem;
  height: 0.13rem;
  background-color: var(--Second-COlor);
}

.paragraph-capabilities {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 0.81rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;
  margin-right: 41px;
}

.button {
  width: 150px;
  height: 40px;
  background-color: var(--Button-Color);
  padding: 1% 2%;
  text-align: center;
  font-family: var(--Second-Font-Family);
  color: var(--Second-Font-Color);
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 1rem;
}

.grid-item {
  margin-top: 78px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.grid-item .catecories {
  border: 1px solid rgb(230, 230, 230);
  padding: 38px 23px;
}
.grid-item .title-categories {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  margin-top: 25px;
}
.grid-item .info-caterories {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: var(--Font-Weight);
  font-size: 0.81rem;
  line-height: 1.44rem;
  letter-spacing: 0.01rem;
  margin-top: 13px;
}

.last-container {
  padding: 0px 20%;
  height: 60vh;
  background-image: url(./img/bg\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.title-last-container {
  padding-top: 120px;
  padding-bottom: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-last-container .text-title {
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: 700;
  font-size: 1.88rem;
  line-height: 2.25rem;
  letter-spacing: 0.01rem;
  text-align: center;
  width: 21.88rem;
}
.title-last-container .button {
  margin-top: 35px;
}

.input-container {
  background-color: rgb(23, 24, 25);
  padding: 30px 30%;
  display: flex;
  align-items: center;
}
.input-container .title-input {
  font-size: 1.38rem;
  font-weight: 700;
  line-height: 1.63rem;
  letter-spacing: 0.05rem;
  font-family: var(--Font-Family);
  color: var(--Second-Font-Color);
  margin-right: 70px;
}
.input-container input {
  width: 15.63rem;
  height: 2.5rem;
  border: 1px solid rgb(151, 151, 151);
  padding-left: 2%;
  font-size: 0.88rem;
  line-height: 1.06rem;
  font-family: var(--Font-Family);
  color: var(--Font-Color);
  font-weight: var(--Font-Weight);
}
.input-container .button-input {
  width: 9.38rem;
  height: 2.5rem;
  background-color: var(--Button-Color);
  padding: 1.5% 3%;
  text-align: center;
  align-items: center;
  font-family: var(--Second-Font-Family);
  color: var(--Second-Font-Color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
}

.footer {
  padding: 45px 20%;
  background-color: rgb(23, 24, 25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.columb:nth-child(4) {
  margin-left: 40px;
  margin-right: 58px;
}

.columb:nth-child(3) {
  margin-left: 34px;
}

.columb:nth-child(2) {
  margin-left: 71px;
}

.company {
  font-family: var(--Font-Family);
  font-weight: var(--Font-Weight);
  color: var(--Second-Font-Color);
  font-size: 0.69rem;
  line-height: 0.81rem;
  letter-spacing: 0.05rem;
  margin-bottom: 19px;
}

.company-text {
  font-family: var(--Font-Family);
  font-weight: var(--Font-Weight);
  color: var(--Second-Font-Color);
  font-size: 0.69rem;
  line-height: 1.19rem;
  letter-spacing: 0.05rem;
  margin-top: 15px;
  width: 15.63rem;
}

.title-links {
  font-family: var(--Font-Family);
  font-weight: var(--Font-Weight);
  color: var(--Second-Font-Color);
  line-height: 0.81rem;
  letter-spacing: 0.05rem;
  font-size: 0.69rem;
  margin-bottom: 20px;
}

.links > li {
  font-family: var(--Font-Family);
  font-weight: var(--Font-Weight);
  color: var(--Second-Font-Color);
  line-height: 0.81rem;
  letter-spacing: 0.05rem;
  font-size: 0.69rem;
  margin-top: 10px;
}

.last-columb {
  font-family: var(--Font-Family);
  font-weight: 300;
  color: var(--Second-Font-Color);
  width: 8.81rem;
  font-size: 0.69rem;
  line-height: 0.81rem;
  letter-spacing: 0.05rem;
}

.last-columb > li {
  margin-top: 20px;
}

.icon {
  margin-left: 43px;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 40px;
}

.icon > img {
  margin-left: 24px;
}

@media (max-width: 900px) {
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .link-item {
    margin-top: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 40px;
    text-align: center;
  }
  .title-grid,
  .paragraph-grid,
  .img-plan,
  .img-manage,
  .img-build {
    grid-column: 1/2;
    grid-row: auto;
  }
  .img-plan,
  .img-manage,
  .img-build {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  .title-container {
    flex-wrap: wrap;
  }
  .paragraph-capabilities, .title-capabilities {
    text-align: center;
    margin: 0 auto;
  }
  .paragraph-capabilities {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .grid-item {
    margin-top: 78px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-content: space-between;
  }
  .columb {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .link-item {
    flex-direction: column;
    text-align: center;
  }
  .link-item .link {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .input-container {
    flex-wrap: wrap;
    align-items: center;
  }
  .title-input {
    text-align: center;
    margin-bottom: 40px;
  }
  input {
    margin-bottom: 40px;
  }
  .button-input {
    margin: auto;
  }
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .columb:nth-child(4) {
    margin: 0px;
    margin-top: 20px;
  }
  .columb:nth-child(3) {
    margin: 0px;
    margin-top: 20px;
  }
  .columb:nth-child(2) {
    margin: 0px;
    margin-top: 20px;
  }
  .icon {
    margin-top: 20px;
  }
}
@media (max-width: 400px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .columb:nth-child(4) {
    margin: 0px;
    margin-top: 20px;
  }
  .columb:nth-child(3) {
    margin: 0px;
    margin-top: 20px;
  }
  .columb:nth-child(2) {
    margin: 0px;
    margin-top: 20px;
  }
  .icon {
    margin-top: 20px;
  }
}