*{
    box-sizing: border-box;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

main{
  margin: 0 auto;
  width: 1243px;       
  padding: 142px 0 128px; 
}

h1>strong{
    color: #2d3640;
    font-weight: 600;
    letter-spacing: -0.5px;
}
h1{
    color: #2d3640;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px; 
}
.title-text{
    width: 695px;
    color: #2b292d;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.user-card{
    padding: 58px 0 122px;
    width: 295px;
    background-color: #ffff;
    border-radius: 20px;
    text-align: center;
    float: left;
    margin-right: 20px;
}
.user-card:last-child{
    margin-right: 0;
}

.user-photo{
    width: 114px;
    height: 114px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: solid 3px;
    border-color: #EFF3F8;
}

.user-card h4{
    color: #2d3640;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;
    margin: 34px 0 4px;
}

.user-card p{
    color: #4b4f52;
    font-family: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 33px;
}

.skills{
    text-align: center;
    font-size: 0;
}
.skill-item{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0 0 0;
    display: inline-block;
    margin-right: 15px;
}
.skills:last-child{
    margin-right: 0;
}
.skill-item>img{
    width: 25px;
}
.vue{
    padding: 15px 0 0 0;
    background-color: #41B883;
}
.a{
    padding: 12px 0 0 0;
    background-color: #34474F;
}
.blue{
    padding: 10px 0 0 0;
    background-color: #202124;
}
.atom{
    padding: 12px 0 0 0;
    background-color: #61DAFB;
}
.red{
    padding: 8px 0 0 0;
    background-color: #D63033;
}
.atom2{
    padding: 12px 0 0 0;
    background-color: #0AA9D7;
}
.html{
    padding: 10px 0 0 0;
    background-color: #E44E25;
}
.css{
    padding: 9px 0 0 0;
    background-color: #1073BB;
}






