*{
    box-sizing: border-box;
}
body{
    background-color: #100E0E;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-top: 100px;
    margin-bottom: 100px;
}
.colunm{
    display: flex;
    justify-content: space-around;
}

.FillIn,.Glowing,.FillUp,.Slide,.Raise,.Close,.Zoom,.ExploreMore{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #0F89FA;
  line-height: 100%;
  letter-spacing: 0%;
  border: solid 2px #0F89FA;
  padding: 16px 32px;
  background: none;
}

.FillIn:hover{
    color: white;
    background: #0F89FA;
    transition: all 1s;
}
.Glowing:hover{
    box-shadow: 0 0 45px #1e90ff;
    transition: all 1s;
}

.FillUp{
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #0F89FA;
}
.FillUp::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    background: #0F89FA;
    z-index: -1;
    transition: 0.5s;
}
.FillUp:hover {
    color: white;
}
.FillUp:hover::after {
    height: 100%;
}

.Slide{
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #0F89FA;
}
.Slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0F89FA;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: -1;
}
.Slide:hover {
    color: white;
}
.Slide:hover::after {
    transform: translateX(0);
}

.Raise:hover{
    transition: 0.5s;
    transform: translateY(-6px);
    box-shadow: 0 5px 5px  #1e90ff;
}

.Close{
    position: relative; 
    overflow: hidden;
}
.Close::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;   
    height: 100%;            
    background: #0f89fa;   
    z-index: -1;       
    transition: 0.5s ease;   
}
.Close:hover::before {
  width: 50%;
}
.Close::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;   
    height: 100%;            
    background: #0f89fa;   
    z-index: -1;       
    transition: 0.5s ease;   
}
.Close:hover::after {
    width: 50%;
  }
.Close:hover{
    color: white;
}

.NotifyMe{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 16px 32px;
  width: 115px;
  height: 56px;
  background-color: #0F89FA;
  border: none;
  position: relative;
  overflow: hidden;
  display: flex;
    justify-content: center;
    align-items: center;
}
.NotifyMe span{
    position: absolute;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, color 0.8s ease-in-out;
}
  

.NotifyMe .default-text {
    transform: translateY(0);
    opacity: 1;
}
  
.NotifyMe .hover-text {
    transform: translateY(100%);
    opacity: 0;
}

.NotifyMe:hover .default-text {
    transform: translateY(-100%);
    opacity: 0;
}
  
.NotifyMe:hover .hover-text {
    transform: translateY(0);
    opacity: 1;
}


.HoverMe {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #0F89FA;
    letter-spacing: 0%;
    padding: 16px 32px;
    background-color: #100E0E;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
}

.HoverMe::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0F89FA;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: -1;
}
.HoverMe:hover::after {
    transform: translateX(0);
}

.Zoom:hover{
    transition: 0.5s;
    transform: scale(1.3, 1.3);
}

.Offset {
  display: inline-block;      
  position: relative;
  padding: 14px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #0F89FA;
  background: #100E0E;
  border: 2px solid #0F89FA;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 4px 4px 0 #0f89fa;
}

.Offset:hover {
    transition: all 0.5s; 
    background: #0f89fa; 
    color: white;
    box-shadow: 0 0 0 #0f89fa; 
}

.Offset::after {
  content: "";
  position: absolute;
  top: -6px;        
  left: -6px;        
  width: calc(100% - 4px);  
  height: calc(100% - 4px);
  border: 2px solid #0F89FA;
  z-index: -1;
  background-color: #0F89FA;
  pointer-events: none;
}


.Offset:hover::after {
  opacity: 0;
  transform: translate(-6px, -6px);
  transition: 0.3s ease;
}


.ExploreMore i{
    display: none;
}

.ExploreMore:hover i{
    transition: all 1s; 
    display:block;
    margin-left: 20px;
}

.ExploreMore:hover {
    display: flex;
    transition: all 1s; 
    background: #0f89fa; 
    color: white;
    box-shadow: 0 0 0 #0f89fa; 
}

.FancyButton{
  position: relative;
  display: inline-block;
  padding: 16px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #100E0E;
  border: 2px solid #0F89FA;
  color: #0F89FA;
}


.FancyButton::after {
  content: "";
  position: absolute;
  top: -6px;        
  left: 5px;        
  width: 155px;
  height: 60px;  
  border: 2px solid #0F89FA;
  z-index: 2;
  pointer-events: none;
}

.FancyButton:hover::after {
  transition: all 0.5s;
  top: 0px;        
  left: 0px;        
  width: 166px;
  height: 50px;
}

.HoverMeSecond{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0%;
    color: white;
    padding: 16px 32px;
    background-color: #100E0E;
    border: #100E0E;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.HoverMeSecond::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0F89FA;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index: -1;
    border-radius: 100px;
}
.HoverMeSecond:hover::after {
    transform: translateX(0);
}

.ExploreMoreSecond {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0%;
    color: white;
    padding: 16px 32px;
    position: relative;
    overflow: hidden;
    border: none;
    background: none;
    z-index: 1;
    perspective: 800px;
}

.ExploreMoreSecond::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 78%;
    background: #2aae2c;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: -1;
    transform-origin: center;
    transition: transform 0.8s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out, clip-path 0.6s ease-in-out, left 0.6s ease-in-out;
}

.ExploreMoreSecond::after {
    content: "";
    position: absolute;
    right: 9px;
    top: 12px;
    width: 54%;
    height: 70%;
    background: #0f89fa;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    z-index: -1;
    transform-origin: center;
    transition: transform 0.8s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out, clip-path 0.6s ease-in-out, right 0.6s ease-in-out, top 0.6s ease-in-out;
}


.ExploreMoreSecond:hover::before {
    transform: rotateY(180deg);
    width: 60%;
    height: 100%;
    left: 50px; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.ExploreMoreSecond:hover::after {
    transform: rotateY(180deg);
    width: 40%;
    height: 100%;
    top: 0; 
    right: 80px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
