*{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    position: relative;
    height: 1500px;
    background-color: white;
}

.position-first {
    background-color: black;
    width: 512px;
    height: 512px;
    position: relative;
    top: 50px;
    left: 50px;
    padding: 128px 101px 109px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flag{
   width: 80px;
   height: 60px;
   border-radius: 6px;
   margin-top: 32px;
   background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
}

.position-second{
    position: relative;
    background-color: #FFCE22;
    z-index: 2;
    width: 512px;
    height: 512px;
    top: 0px;
    left: 460px;
}

.second{
    position: relative;
    bottom: 120px;
    left: 80px;
    height: 204px;
    width: 358px;
}
.conteiner2{
    position: relative;
    width: 512px;
    height: 512px;
    bottom: 90px;
    left: 900px;
    background-color: white;
    border-top: 2px solid #2137FC;
    border-bottom: 2px solid #2137FC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 34px;
}

.circleitem {
    border-radius: 444px;
    background-color: #FFCE22;
    height: 444px;
    position: relative;
}

.glyph {
    position: relative;
    bottom: 28px;
    left: 44px;
    height: 204px;
    width: 358px;
}



