
$white: #FFFFFF;
$gray-bg: #EFEFEF;
$accent-text-color: #D62828;

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif; 
}

body {
  background-color: rgb(192, 188, 188);
}

.container {
  width: 360px;
  margin: 100px auto;
  border-radius: 10px;
  padding: 56px 20px 91px 20px;
  background-color: $white;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  font-size: 16px;
  outline: none; 
}

button {
  border: none;
  background-color: $white;
}

.items{
  display: flex;
  .txt{
    color: #C4C4C4;
    margin: 5px;
  }
  .img {
  width: 74px;
  height: 74px;
  background-color: $gray-bg;
  border-radius: 12px;
  padding: 17px;
 }
}


.menu-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &:hover {
    .img {
      background-color: #EAE2B7;
    }

    .txt {
      color: #000000;
    }
  }
}



.burg-pos{
  box-shadow: 0 0px 5px #E5E5E5;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;

 
  &:nth-child(1) img {
    width: 50px;
    height: auto;
  }
  &:nth-child(2) img {
    width: 55px;
    height: auto;
  }
  &:nth-child(3) img {
    width: 60px;
    height: auto;
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: none;
  }
}

.burger{
 .title {
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}
.text-burger{
  color: $accent-text-color;
  font-size: 0.8em;
  font-weight: 700;
}
}


